/.vs/BreakFAST/DesignTimeBuild/.dtbcache.v2
/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/.vs/BreakFAST/v16/.suo
/obj/Debug/net5.0/apphost.exe
/obj/Debug/net5.0/BreakFAST.AssemblyInfo.cs
/obj/Debug/net5.0/BreakFAST.AssemblyInfoInputs.cache
/obj/Debug/net5.0/BreakFAST.assets.cache
/obj/Debug/net5.0/BreakFAST.csproj.AssemblyReference.cache
/obj/Debug/net5.0/BreakFAST.csproj.CoreCompileInputs.cache
/obj/Debug/net5.0/BreakFAST.csproj.FileListAbsolute.txt
/obj/BreakFAST.csproj.nuget.dgspec.json
/obj/BreakFAST.csproj.nuget.g.props
/obj/BreakFAST.csproj.nuget.g.targets
/bin/Debug/net5.0/BreakFAST.deps.json
/bin/Debug/net5.0/ref/BreakFAST.dll
/bin/Debug/net5.0/BreakFAST.dll
/obj/Debug/net5.0/ref/BreakFAST.dll
/obj/Debug/net5.0/BreakFAST.dll
/bin/Debug/net5.0/BreakFAST.exe
/obj/Debug/net5.0/BreakFAST.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0/BreakFAST.genruntimeconfig.cache
/bin/Debug/net5.0/BreakFAST.pdb
/obj/Debug/net5.0/BreakFAST.pdb
/bin/Debug/net5.0/BreakFAST.runtimeconfig.dev.json
/bin/Debug/net5.0/BreakFAST.runtimeconfig.json
/editorconfig
/.idea/.idea.BreakFAST/.idea/encodings.xml
/.idea/.idea.BreakFAST/.idea/indexLayout.xml
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/.idea/.idea.BreakFAST/.idea/dictionaries/project.xml
/.idea/.idea.BreakFAST/.idea/projectSettingsUpdater.xml
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/.idea/.idea.BreakFAST/.idea/vcs.xml
/.idea/.idea.BreakFAST/.idea/workspace.xml
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/BreakFAST.AssemblyInfo.cs
/obj/Debug/net8.0/BreakFAST.AssemblyInfoInputs.cache
/obj/Debug/net8.0/BreakFAST.assets.cache
/obj/Debug/net8.0/BreakFAST.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/BreakFAST.csproj.FileListAbsolute.txt
/bin/Debug/net8.0/BreakFAST.deps.json
/bin/Debug/net8.0/BreakFAST.dll
/obj/Debug/net8.0/ref/BreakFAST.dll
/obj/Debug/net8.0/refint/BreakFAST.dll
/obj/Debug/net8.0/BreakFAST.dll
/bin/Debug/net8.0/BreakFAST.exe
/obj/Debug/net8.0/BreakFAST.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/BreakFAST.genruntimeconfig.cache
/bin/Debug/net8.0/BreakFAST.pdb
/obj/Debug/net8.0/BreakFAST.pdb
/bin/Debug/net8.0/BreakFAST.runtimeconfig.json
/obj/Debug/net8.0/BreakFAST.sourcelink.json
